<h4>Buscar preguntas</h4>

<form method="get" action="/quizes">
	<input type="text"  name="search" value="Buscar pregunta" />
	
	<input type="submit" value="Buscar" />
	
</form>
<table>
  <% var ii; for (ii=0; ii < quizes.length; ii++) { %>       
      <tr>
			<td><a href="quizes/<%= quizes[ii].id %>"><%= quizes[ii].pregunta %></a></td>
			<td><a href="quizes/<%= quizes[ii].id %>/edit"><button>editar</button></a></td>

		</tr>
   <% } %>
</table>
	<p>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>


